RewriteEngine On

# Jika file atau folder yang diminta benar-benar ada, langsung serve
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]